@charset "utf-8";

html, body{
	margin: 0;
	padding: 0;
	font-family: Arial, Tahoma;
	color: #000;
	background: #F7F6F6;
}

*{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.wrapper {	
	margin-top: 80px;
	margin-bottom: 80px;
}

.form-signin, .css-form {
	max-width: 380px;
	padding: 15px 35px 75px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);  
}

.nav{
    max-width: 380px;
    margin: 0 auto;
}

#logout{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.form-signin-heading{
	text-align: center;
}

.form-control{
	margin-bottom: 5px;
}

form.ng-submitted input.ng-invalid, input.ng-touched.ng-invalid{
	background-color: Crimson; 
}
input[user-directive].ng-valid{
	background-color: MediumSeaGreen; 
}


.wibro{
    display: block;
    position: relative;
    top: 0px;
    -webkit-animation: tremor .2s linear 2;  
    animation: tremor .2s linear 2;  
}
@-webkit-keyframes tremor {
	from{
		left: 0px;
	}
	25%{
		left: -2%;
	}
    75%{
    	left: 4%;
    }
    to{
    	left: 0px;
    }
}
@-moz-keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-7%);
        transform: translateX(-7%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(7%);
        transform: translateX(7%);
    }
}
@-ms-keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-7%);
        transform: translateX(-7%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(7%);
        transform: translateX(7%);
    }
}
@-o-keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-7%);
        transform: translateX(-7%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(7%);
        transform: translateX(7%);
    }
}

