<!DOCTYPE html>
<html lang="ru" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Angular JS</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/"/>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-ui-router/build/angular-ui-router.js"></script>
  <script src="node_modules/angular-resource/angular-resource.js"></script>
  <script src="node_modules/angular-cookies/angular-cookies.js"></script>
  <script src="node_modules/angular-translate/dist/angular-translate.js"></script>
  <script src="node_modules/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

  <script src="app/controllers.js"></script>
  <script src="app/routers.js"></script>

  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/basic.css">
</head>
<body>

<section ui-view name="header" ng-controller="LanguageCtrl">
  <ul class="nav nav-pills nav-justified languages">
    <li ng-click="changeLanguage('en');" ng-class="{'active' : lang.en}"><a href="#">English</a></li>
    <li ng-click="changeLanguage('ru');" ng-class="{'active' : lang.ru}" ><a href="#">Русский</a></li>
</ul>
</section>
<section ui-view></section>

</body>
</html>