<form class="css-form" name="editForm" novalidate>
    <div class="form-group">
        <label for="userName">Name</label>
        <input type="text" class="form-control" id="userName" placeholder="name" ng-model="user.name" readonly>
    </div>
    <div class="form-group">
        <label for="userAge">Age</label>
        <input type="number" class="form-control" id="userAge" placeholder="age" ng-model="user.age" readonly>
    </div>
    <div class="form-group">
        <label for="userDate">Date</label>
        <input type="text" class="form-control" id="userDate" placeholder="date" ng-model="user.date" readonly >
    </div>
    <div class="form-group">
        <label for="userText">Text</label>
        <input type="text" class="form-control" id="userText" placeholder="text" ng-model="user.text" readonly >
    </div>
</form>